.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}

.icon-house{
	background:url('icons/house.png') no-repeat center center;
}

.icon-world{
	background:url('icons/world.png') no-repeat center center;
}

.icon-system{
	background:url('icons/system.png') no-repeat center center;
}

.icon-book{
	background:url('icons/book_open.png') no-repeat center center;
}

.icon-cross{
	background:url('icons/cross.png') no-repeat center center;
}

.icon-accept{
	background:url('icons/accept.png') no-repeat center center;
}

.icon-man{
	background:url('icons/man.png') no-repeat center center;
}

.icon-lock2{
	background:url('icons/lock2.png') no-repeat center center;
}

.icon-go{
	background:url('icons/go.png') no-repeat center center;
}

.icon-tick{
	background:url('icons/tick.png') no-repeat center center;
}

.icon-zoom{
	background:url('icons/zoom.png') no-repeat center center;
}
